<body>
  <section>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="https://free4kwallpapers.com/uploads/wallpaper/one-piece-luffy-1024x768-wallpaper.jpg" alt="dp">
          </div>
          <div class="contentBx">
            <h3 class="nm">Piyush Mehta <br> <span>Lazy Programmer</span></h3>
          </div>
        </div>
      <ul class="sci">
      <li style="--i:1">
        <a href="https://fb.com/Mehtapiyush81" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li style="--i:2">
        <a href="https:github.com/pewxh" target="_blank" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li style="--i:3">
        <a href="https://www.linkedin.com/in/piyush-mehta-a977041a7/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li style="--i:4">
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </li>
      </ul>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="https://images7.alphacoders.com/633/thumb-1920-633262.png" alt="dp">
          </div>
          <div class="contentBx">
            <h3 class="nm">Piyush Mehta <br> <span>Lazy Programmer</span></h3>
          </div>
        </div>
      <ul class="sci">
      <li style="--i:1">
        <a href="https://fb.com/Mehtapiyush81" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li style="--i:2">
        <a href="https:github.com/pewxh" target="_blank" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li style="--i:3">
        <a href="https://www.linkedin.com/in/piyush-mehta-a977041a7/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li style="--i:4">
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </li>
      </ul>
      </div>

      <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="https://hdqwalls.com/wallpapers/mr-robot-mask-f-society-artwork-4k-on.jpg" alt="dp">
          </div>
          <div class="contentBx">
            <h3 class="nm">Piyush Mehta <br> <span>Lazy Programmer</span></h3>
          </div>
        </div>
      <ul class="sci">
      <li style="--i:1">
        <a href="https://fb.com/Mehtapiyush81" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li style="--i:2">
        <a href="https:github.com/pewxh" target="_blank" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li style="--i:3">
        <a href="https://www.linkedin.com/in/piyush-mehta-a977041a7/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li style="--i:4">
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </li>
      </ul>
      </div>

            <div class="card">
        <div class="content">
          <div class="imgBx">
            <img src="https://hdqwalls.com/wallpapers/darth-vader-helmet-4k-am.jpg" alt="dp">
          </div>
          <div class="contentBx">
            <h3 class="nm">Piyush Mehta <br> <span>Lazy Programmer</span></h3>
          </div>
        </div>
      <ul class="sci">
      <li style="--i:1">
        <a href="https://fb.com/Mehtapiyush81" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li style="--i:2">
        <a href="https:github.com/pewxh" target="_blank" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
      <li style="--i:3">
        <a href="https://www.linkedin.com/in/piyush-mehta-a977041a7/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li style="--i:4">
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </li>
      </ul>
      </div>
    </div>
  </section>
</body>
